<div class="signup-div">
    <div class="signup-card">
        <form action="" method="POST">
            <div class="signup-txt">Register</div>
            <label class="signup-lables" for="name">Name:</label><br>
            <input type="text" class="signup-name" name="name" required><br><br>

            <label class="signup-lables" for="email">Email:</label><br>
            <input type="email" class="signup-email" name="email" required><br><br>

            <label class="signup-lables" for="password">Password:</label><br>
            <input type="password" class="signup-password" name="password" required><br><br>

            <% if (typeof errorMessage !== 'undefined') { %>
                <div class="error-message" style="color:rgb(121, 25, 25);"><%= errorMessage %></div>
            <% } %>

            <div>
                <a class="alrady-user-text" href="/login">Already a user, Login here</a>
            </div>

            <input id="signup-btn" type="submit" value="Signup">
        </form>
    </div>
</div>

<style>
    .signup-name,
    .signup-email,
    .signup-password {
        width: 250px !important;
        height: 40px !important;
        margin-top: -5px !important;
        border-radius: 5px;
        border: none;
    }

    .alrady-user-text{
        color: rgb(9, 9, 204);
        font-size: 15px;
    }
    #signup-btn {
        width: 250px;
        background-color:#2c78eb;
        margin-top: 5px;
    }

    .signup-lables {
        margin-top: -10px !important;
    }

    .signup-card {
        background-color: #52BAFF;
        width: 350px;
        height: 430px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .signup-txt{
        color: white;
        font-size: 30px;
        font-weight:700 ;
        text-align: center;
    }
</style>