<div class="component-eight-footer ">
    <div class="container footer-content">
        <div class="footer-heading">
            SNIK.COM
        </div>
        <div class="footer-icons-div ">
            <i class="bi bi-youtube footer-icons"></i>
            <i class="bi bi-twitter footer-icons"></i>
            <i class="bi bi-facebook footer-icons"></i>
            <i class="bi bi-whatsapp footer-icons"></i>
            <i class="bi bi-instagram footer-icons"></i>
        </div>
        <div class="author">
            Created by Muhammad Zain
        </div>

    </div>

</div>
