<div">
  

    <div class="container" id="category-section">
        <div class="about-section">
          <div class="col-md-6">
            <img src="https://i.pinimg.com/474x/e4/7f/16/e47f1695c82dbee32fd200b917964705.jpg" alt="About Us Image" class="about-image img-fluid">
          </div>
          <div class="col-md-6 about-text">
            <h1>About SNIK</h1>
            <p>Welcome to SNIK, your ultimate destination for the latest and greatest in sneaker fashion. At SNIK, we believe that sneakers are more than just footwear—they are a statement, a lifestyle, and a reflection of your personality. Founded with a passion for style and a dedication to quality, SNIK aims to bring you a curated selection of sneakers from the world's top brands.</p>
            <p>Our mission is to provide sneaker enthusiasts with a seamless shopping experience, offering a diverse range of styles, from classic to contemporary, all in one place. Whether you're a seasoned collector or just starting your sneaker journey, SNIK is here to help you find the perfect pair.</p>
            <p>At SNIK, we pride ourselves on our commitment to customer satisfaction. Our team is always on hand to offer expert advice, answer your questions, and ensure that your shopping experience is nothing short of exceptional. We understand that finding the right sneakers can be a personal journey, and we're here to support you every step of the way.</p>
            <p>Thank you for choosing SNIK. We look forward to being a part of your sneaker story.</p>
          </div>
        </div>
      </div>
</div>


<style>
    .about-section {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 50px 0;
    }
    .about-image {
      max-width: 100%;
      height: auto;
    }
    .about-text {
      padding: 23px;
      text-align: justify;
      font-family: 'Josefin Sans', sans-serif;

    }
    @media (max-width: 768px) {
      .about-section {
        flex-direction: column;
      }
      .about-image, .about-text {
        max-width: 100%;
      }
    }

    #category-section{
        margin-top: 100px !important;
    }
  </style>